body {
    margin: 0;
    font-family: sans-serif;
}

table {
    padding: auto;
    border: 3px;
    border-style:double;
}

tr {
    text-align: center;
    padding: auto;
    border: 1px;
    height: 25px;
    background-color: rgb(455, 48, 777);
}